body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: sans-serif;
}

.container{
    min-height: 220px;
    min-width: 220px;
    border-radius: 50%;
    border:4px solid #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}
.stopwatch{
    color: cadetblue;
    margin: auto;
    font-size: 3rem;
}
button{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: cadetblue;
    border: none;
    font-size: 1rem;
    outline: none;
    color: #fff;
}
li{
    color: #fff;
}