*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
text-align: center;
font-size:  100px;
margin-top: 5%;
margin-right: 5%; 
font-family: 'Ubuntu', sans-serif;
color: white;
font-weight: bold;
mix-blend-mode: multiply;
text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}

body{
background-image: url(../img/time.jpg);
max-width: 100%;
height: auto;
background-size: cover;
}

.horloge{
margin-right: 5%;
margin-top:3%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color:#ffffff;
text-shadow: -2px -2px 0 rgb(0, 0, 0), 2px -2px 0 rgb(0, 0, 0), -2px 2px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 1px 1px 10px #000000;
}

.heures{
width: 500px;
font-size: 110px;
font-family: 'Orbitron', sans-serif;
border-bottom: 1px solid rgba(10,10,10,0.2);
}

.date{
font-size: 30px;
font-family: 'Tahoma', sans-serif;
padding-top: 10px;
}


/********* Buttons  **********/

.bloc {
display: flex;
margin-top: 7%;
margin-right: 7%;
flex-direction: row;
justify-content: center;
gap: 50px
}

@media (min-width: 768px) {
.button  {
padding: 0.25em 0.75em;
}
}

.button {
display: inline-block;
padding: 0.5em 1.7em;
margin: 0 0.1em 0.1em 0;
border: 3px solid white;
border-color: rgb(0, 0, 0);
border-radius: 2em;
box-sizing: border-box;
text-decoration: none;
font-family: "Roboto", sans-serif;
color: #000000;
text-align: center;
transition: all 0.2s;
cursor: pointer;
font-size: 20px;
}
