* {
margin: 0;
padding: 0;
}

body{
text-align: center;
font-family: sans-serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: sans-serif;
background-image: url(../img/time.jpg);
max-width: 100%;
height: auto;
background-size: cover;
}

h1 {
text-align: center;
font-size:  80px;
margin-top: 2%;
font-family: 'Ubuntu', sans-serif;
color: white;
font-weight: bold;
mix-blend-mode: multiply;
text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}

.time input {
width: 80px;
height: 80px;
font-family: monospace;
font-size: 35px;
text-align: center;
border: 1px solid #CCC;
border-radius: 50%;
}

div.timer{
padding: 30px;
}

#start, #pause, #resume {
margin: 10px 10px;
padding: 6px 20px;
}

#counter > div {
display: inline-block;
background: #DDD;
padding: 15px;
border-radius: 15%;
font-size: 100px;
}

#counter .count {
padding: 15px;
background: #BBB;
border-radius: 15%;
color: #333;
}

#counter .small-text {
font-size: 15px;
padding-top: 10px;
}

#resume {
display: none;
}

button {
display: inline-block;
padding: 0.5em 1.7em;
margin: 0 0.1em 0.1em 0;
border: 3px solid rgb(255, 255, 255);
border-color: rgb(0, 0, 0);
border-radius: 2em;
box-sizing: border-box;
text-decoration: none;
font-family: "Roboto", sans-serif;
color: #000000;
text-align: center;
transition: all 0.2s;
cursor: pointer;
font-size: 20px;
}

img {
color: white;
margin-top: 50%;
}

img:hover {
transform: scale(1.2, 1.2);
transition: 0.5s;
}

  
