body {
font-family: monospace, sans-serif;
font-size: 20px;
text-align: center;
box-sizing: border-box;
width: 100%;
max-width: 30em;
margin: 0 auto;
background-image: url(../img/time.jpg);
background-size: cover;
}

h1 {
text-align: center;
font-size: 70px;
margin-top: 5%;
margin-right: 5%;
font-family: 'Ubuntu', sans-serif;
color: white;
font-weight: bold;
mix-blend-mode: multiply;
text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}


h3 {
color: #ff0000;
margin-top: -7px;
margin-bottom: 1px;
}

#myBox {
box-sizing: border-box;
border: solid 26px #ffffff;
height: 450px;
border-radius: 20%;
padding-top: 100px;
background-color: #000;
}

#myDiv {
margin-top: 4%;
}

#time {
font-size: 80px;
margin-top: -65px;
color:  #ffffff;
}

#mySelect {
margin-top: 5px;
margin-bottom: 35px;
width: 125px;
font-size: 20px;
padding: 2px;
border-radius: 3px;
font-weight: bold;
color: #ff0000;
}

button {
font-family: "Open Sans", sans-serif;
font-size: 20px;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
color: #ff0000;
cursor: pointer;
border: 3px solid;
}

button:hover {
background-color: #000000;
}

.button:active {
box-shadow: 0px 0px 0px 0px;
top: 5px;
left: 5px;
}

.activ {
width: 105%;
display: flex;
justify-content:space-around;
gap: 70px;
}

#alarmHrs, #alarmMins, #alarmSecs {
width: 75px;
padding-left: 4px;
font-size: 25px;
margin-top: 2%;
}

@media only screen and (max-width: 600px) {
button {
margin-left: 2px;
margin-right: 4px;
}
#time {
font-size: 45px;
}
}

#mySetButton {
color: rgb(0, 223, 0);
}
img {
color: white;
margin-top: 3%;
}

img:hover {
transform: scale(1.2, 1.2);
transition: 0.5s;
}

